<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CheatsBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>CheatsInterface1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1062,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1062,584}}</string>
                <key>sourceSize</key>
                <string>{1062,584}</string>
            </dict>
            <key>CheatsInterface2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,724},{1062,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1062,584}}</string>
                <key>sourceSize</key>
                <string>{1062,584}</string>
            </dict>
            <key>OffNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,958},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>OffSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1044},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>PageTurnNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,841},{106,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{106,115}}</string>
                <key>sourceSize</key>
                <string>{110,133}</string>
            </dict>
            <key>PageTurnSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,724},{108,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{108,115}}</string>
                <key>sourceSize</key>
                <string>{110,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cheatsLayer.png</string>
            <key>size</key>
            <string>{1284,1788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6fe936c7a0379ead2b006ed24d804c7:510e23b99cc327b4a8d00a3a1d69f095:6b3e587dec83cd5806b536a8c89fbb35$</string>
            <key>textureFileName</key>
            <string>cheatsLayer.png</string>
        </dict>
    </dict>
</plist>
