<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CellSel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{440,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,185}}</string>
                <key>sourceSize</key>
                <string>{440,187}</string>
            </dict>
            <key>CellSel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,444},{440,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,185}}</string>
                <key>sourceSize</key>
                <string>{440,187}</string>
            </dict>
            <key>CellSel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{440,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,185}}</string>
                <key>sourceSize</key>
                <string>{440,187}</string>
            </dict>
            <key>CellSel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{444,183}}</string>
                <key>sourceSize</key>
                <string>{444,187}</string>
            </dict>
            <key>Cell_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,189},{440,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,185}}</string>
                <key>sourceSize</key>
                <string>{440,187}</string>
            </dict>
            <key>Cell_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,376},{440,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,185}}</string>
                <key>sourceSize</key>
                <string>{440,187}</string>
            </dict>
            <key>Cell_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,563},{440,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,185}}</string>
                <key>sourceSize</key>
                <string>{440,187}</string>
            </dict>
            <key>Cell_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{444,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{444,183}}</string>
                <key>sourceSize</key>
                <string>{444,187}</string>
            </dict>
            <key>GalleryOffNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{67,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>GalleryOffSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,894},{67,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>ManLion.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,750},{218,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,408}}</string>
                <key>sourceSize</key>
                <string>{218,408}</string>
            </dict>
            <key>ManStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{396,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,403}}</string>
                <key>sourceSize</key>
                <string>{396,403}</string>
            </dict>
            <key>ManWood.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,563},{399,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,389}}</string>
                <key>sourceSize</key>
                <string>{399,389}</string>
            </dict>
            <key>Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,407},{129,281}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{129,281}}</string>
                <key>sourceSize</key>
                <string>{131,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>galleryLayer.png</string>
            <key>size</key>
            <string>{1216,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:803d8fd26aa69841a101bab6a658650d:33d05e162c7571775d2780268f1d6ae8:15ab50e889f80ce2dcc5fc4642225899$</string>
            <key>textureFileName</key>
            <string>galleryLayer.png</string>
        </dict>
    </dict>
</plist>
