<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,724},{67,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,724},{67,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>GateMapBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>Gate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{375,497}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{375,497}}</string>
                <key>sourceSize</key>
                <string>{381,505}</string>
            </dict>
            <key>Gate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,501},{375,497}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{375,497}}</string>
                <key>sourceSize</key>
                <string>{381,505}</string>
            </dict>
            <key>Gate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,2},{375,497}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{375,497}}</string>
                <key>sourceSize</key>
                <string>{381,505}</string>
            </dict>
            <key>StarBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,724},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>StarLittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,724},{55,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>noEnergy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,501},{451,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,244}}</string>
                <key>sourceSize</key>
                <string>{451,244}</string>
            </dict>
            <key>rollerNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,724},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>rollerSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,724},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>tiaozhanNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{283,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,120}}</string>
                <key>sourceSize</key>
                <string>{283,120}</string>
            </dict>
            <key>tiaozhanSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,724},{283,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,120}}</string>
                <key>sourceSize</key>
                <string>{283,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gateMap.png</string>
            <key>size</key>
            <string>{2038,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cebaf641b1877e54820fc810f50caab:74e903ddc4c75e163d4a8050117fadf6:92c54b05717eb1680740350f74e47e13$</string>
            <key>textureFileName</key>
            <string>gateMap.png</string>
        </dict>
    </dict>
</plist>
