<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fist1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,497},{147,248}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,2},{147,248}}</string>
                <key>sourceSize</key>
                <string>{223,250}</string>
            </dict>
            <key>fist2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,417},{145,245}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{145,245}}</string>
                <key>sourceSize</key>
                <string>{223,247}</string>
            </dict>
            <key>fist3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,247}}</string>
                <key>sourceSize</key>
                <string>{223,247}</string>
            </dict>
            <key>fist4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1237},{167,247}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{167,247}}</string>
                <key>sourceSize</key>
                <string>{223,247}</string>
            </dict>
            <key>hurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,497},{147,248}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,2},{147,248}}</string>
                <key>sourceSize</key>
                <string>{223,250}</string>
            </dict>
            <key>hurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{223,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,244}}</string>
                <key>sourceSize</key>
                <string>{223,244}</string>
            </dict>
            <key>hurt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{193,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{193,250}}</string>
                <key>sourceSize</key>
                <string>{223,250}</string>
            </dict>
            <key>hurt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{129,250}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{129,250}}</string>
                <key>sourceSize</key>
                <string>{223,250}</string>
            </dict>
            <key>hurt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,460},{129,248}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,2},{129,248}}</string>
                <key>sourceSize</key>
                <string>{223,250}</string>
            </dict>
            <key>hurt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,983},{147,248}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,2},{147,248}}</string>
                <key>sourceSize</key>
                <string>{223,250}</string>
            </dict>
            <key>idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,497},{147,248}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,2},{147,248}}</string>
                <key>sourceSize</key>
                <string>{223,250}</string>
            </dict>
            <key>jumpdown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,229},{202,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,229}}</string>
                <key>sourceSize</key>
                <string>{202,229}</string>
            </dict>
            <key>jumpdown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,566},{196,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,219}}</string>
                <key>sourceSize</key>
                <string>{196,219}</string>
            </dict>
            <key>jumpdown3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{192,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,232}}</string>
                <key>sourceSize</key>
                <string>{192,232}</string>
            </dict>
            <key>jumpdown4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,219},{196,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,213}}</string>
                <key>sourceSize</key>
                <string>{196,213}</string>
            </dict>
            <key>jumpdown5.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,215},{181,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,210}}</string>
                <key>sourceSize</key>
                <string>{181,210}</string>
            </dict>
            <key>jumpup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,764},{188,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,218}}</string>
                <key>sourceSize</key>
                <string>{188,218}</string>
            </dict>
            <key>jumpup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{163,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,252}}</string>
                <key>sourceSize</key>
                <string>{163,252}</string>
            </dict>
            <key>jumpup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,398},{166,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,233}}</string>
                <key>sourceSize</key>
                <string>{166,233}</string>
            </dict>
            <key>jumpup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,749},{192,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,209}}</string>
                <key>sourceSize</key>
                <string>{192,209}</string>
            </dict>
            <key>jumpup5.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,229},{202,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,229}}</string>
                <key>sourceSize</key>
                <string>{202,229}</string>
            </dict>
            <key>leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,664},{145,245}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,1},{145,245}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1233},{157,247}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{157,247}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>leg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{223,225}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{223,225}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>leg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,417},{163,247}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,247}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>leg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,664},{145,245}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,1},{145,245}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1171},{196,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,208}}</string>
                <key>sourceSize</key>
                <string>{196,208}</string>
            </dict>
            <key>run10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,710},{194,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,208}}</string>
                <key>sourceSize</key>
                <string>{194,208}</string>
            </dict>
            <key>run11.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1381},{175,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,203}}</string>
                <key>sourceSize</key>
                <string>{175,203}</string>
            </dict>
            <key>run12.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,960},{195,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,209}}</string>
                <key>sourceSize</key>
                <string>{195,209}</string>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1340},{196,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,201}}</string>
                <key>sourceSize</key>
                <string>{196,201}</string>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1337},{176,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,204}}</string>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1157},{178,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,204}}</string>
                <key>sourceSize</key>
                <string>{178,204}</string>
            </dict>
            <key>run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,954},{196,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,201}}</string>
                <key>sourceSize</key>
                <string>{196,201}</string>
            </dict>
            <key>run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{213,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,215}}</string>
                <key>sourceSize</key>
                <string>{213,215}</string>
            </dict>
            <key>run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,920},{203,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,208}}</string>
                <key>sourceSize</key>
                <string>{203,208}</string>
            </dict>
            <key>run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{210,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,211}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>run9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1130},{195,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,208}}</string>
                <key>sourceSize</key>
                <string>{195,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{1024,1558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac79c7e79352b8c2823bccc8c82eabe2:86da6c4cc1e7d0b69a9574418fb3f5ec:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
