<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bakandao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,222},{181,236}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{181,236}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,942},{189,234}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,8},{189,234}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1375},{191,234}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,7},{191,234}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,458},{247,240}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{247,240}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,700},{211,240}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{211,240}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,711},{205,240}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{205,240}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1133},{191,240}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,1},{191,240}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao16.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,462},{247,240}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,1},{247,240}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao17.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,218},{213,242}}</string>
                <key>offset</key>
                <string>{45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{213,242}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,460},{179,232}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{179,232}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1611},{197,232}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{197,232}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,222},{249,234}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{249,234}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1371},{139,234}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,8},{139,234}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1119},{179,232}}</string>
                <key>offset</key>
                <string>{-31,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{179,232}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1845},{159,230}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,7},{159,230}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1607},{167,232}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{167,232}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>bakandao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,918},{199,230}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{199,230}}</string>
                <key>sourceSize</key>
                <string>{303,242}</string>
            </dict>
            <key>combo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1133},{141,236}}</string>
                <key>offset</key>
                <string>{-91,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{141,236}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{337,212}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,37},{337,212}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1717},{299,238}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{299,238}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{317,238}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{317,238}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{329,232}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{329,232}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo14.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{327,214}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{327,214}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{317,214}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,35},{317,214}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo16.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,726},{311,236}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{311,236}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1065},{331,212}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,37},{331,212}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1353},{179,184}}</string>
                <key>offset</key>
                <string>{-64,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,65},{179,184}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1539},{191,194}}</string>
                <key>offset</key>
                <string>{-72,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,55},{191,194}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1735},{181,184}}</string>
                <key>offset</key>
                <string>{-64,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,65},{181,184}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1649},{269,198}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,50},{269,198}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,248}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{331,248}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1039},{303,214}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,35},{303,214}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{343,218}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{343,218}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
            <key>combo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1344},{303,212}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,37},{303,212}}</string>
                <key>sourceSize</key>
                <string>{357,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroComobo.png</string>
            <key>size</key>
            <string>{1009,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:797f786801fb6b2b582ff612f0bc10eb:d3655f47decb5a41eb446f7366b8550c:a2574097a79d99e446dc42f682171d5b$</string>
            <key>textureFileName</key>
            <string>heroComobo.png</string>
        </dict>
    </dict>
</plist>
