<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1334},{140,237}}</string>
                <key>offset</key>
                <string>{-47,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,247},{140,237}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1573},{438,311}}</string>
                <key>offset</key>
                <string>{46,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,173},{438,311}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,968},{418,241}}</string>
                <key>offset</key>
                <string>{38,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,243},{418,241}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,745},{424,241}}</string>
                <key>offset</key>
                <string>{40,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,243},{424,241}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,311},{432,241}}</string>
                <key>offset</key>
                <string>{43,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,244},{432,241}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,241}}</string>
                <key>offset</key>
                <string>{114,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,243},{566,241}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{472,285}}</string>
                <key>offset</key>
                <string>{62,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,200},{472,285}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun16.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{536,303}}</string>
                <key>offset</key>
                <string>{99,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,182},{536,303}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun17.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,622},{472,299}}</string>
                <key>offset</key>
                <string>{93,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,208},{472,299}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun18.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,923},{458,409}}</string>
                <key>offset</key>
                <string>{65,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,76},{458,409}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{372,447}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,37},{372,447}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1334},{158,239}}</string>
                <key>offset</key>
                <string>{-55,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,245},{158,239}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun20.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1588},{382,387}}</string>
                <key>offset</key>
                <string>{-98,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,97},{382,387}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun21.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,307},{488,313}}</string>
                <key>offset</key>
                <string>{-126,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,171},{488,313}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun22.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,679},{462,287}}</string>
                <key>offset</key>
                <string>{-123,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,197},{462,287}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{500,307}}</string>
                <key>offset</key>
                <string>{-143,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,176},{500,307}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{506,301}}</string>
                <key>offset</key>
                <string>{-144,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,206},{506,301}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,311},{366,483}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,1},{366,483}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{362,485}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,0},{362,485}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,1171},{368,415}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,69},{368,415}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,1588},{384,385}}</string>
                <key>offset</key>
                <string>{-18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,99},{384,385}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1211},{402,241}}</string>
                <key>offset</key>
                <string>{32,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,243},{402,241}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun8.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1588},{396,241}}</string>
                <key>offset</key>
                <string>{31,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,243},{396,241}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
            <key>gun9.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1573},{430,335}}</string>
                <key>offset</key>
                <string>{38,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,149},{430,335}}</string>
                <key>sourceSize</key>
                <string>{794,507}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroGun.png</string>
            <key>size</key>
            <string>{1728,2013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08df200e4bdeb9638090b6ad6d72daee:30fde8eea654622012594b925ed89074:ae4c8229c092d6c71688750f6dc4facc$</string>
            <key>textureFileName</key>
            <string>heroGun.png</string>
        </dict>
    </dict>
</plist>
