<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MapGround1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,500}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>MapGround2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1920,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,474}}</string>
                <key>sourceSize</key>
                <string>{1920,474}</string>
            </dict>
            <key>MapGround3.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{1920,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,464}}</string>
                <key>sourceSize</key>
                <string>{1920,464}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mapRoad.png</string>
            <key>size</key>
            <string>{1446,1924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2eba99f140e1117b5ee09f9225a289a:fb22ce92369f959adaa93bee8e38088f:b52a69c09ebd5bd7f0a357168ffe0a55$</string>
            <key>textureFileName</key>
            <string>mapRoad.png</string>
        </dict>
    </dict>
</plist>
