<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lionA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,202},{141,202}}</string>
                <key>offset</key>
                <string>{58,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,10},{141,202}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>lionA2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,559},{117,212}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{117,212}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>lionA3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,406},{147,192}}</string>
                <key>offset</key>
                <string>{-55,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{147,192}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>lionA4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,365},{147,192}}</string>
                <key>offset</key>
                <string>{-56,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{147,192}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>lionA5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1000},{103,206}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,8},{103,206}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>lionA7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,800},{133,198}}</string>
                <key>offset</key>
                <string>{22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,15},{133,198}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>lionA8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,596},{141,202}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,11},{141,202}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>lionDie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1041},{118,212}}</string>
                <key>offset</key>
                <string>{-52,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{118,212}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionDie10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,1577},{156,126}}</string>
                <key>offset</key>
                <string>{43,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,98},{156,126}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionDie11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1366},{150,104}}</string>
                <key>offset</key>
                <string>{80,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,120},{150,104}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionDie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,569},{204,190}}</string>
                <key>offset</key>
                <string>{-53,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{204,190}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionDie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1275},{230,194}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,27},{230,194}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionDie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1534},{222,190}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,31},{222,190}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionDie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1534},{214,184}}</string>
                <key>offset</key>
                <string>{29,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,37},{214,184}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionDie6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1572},{124,222}}</string>
                <key>offset</key>
                <string>{69,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,2},{124,222}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionDie7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,222},{124,222}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,2},{124,222}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionDie8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{250,180}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{250,180}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionDie9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,1191},{158,128}}</string>
                <key>offset</key>
                <string>{45,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,96},{158,128}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionHurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1041},{118,212}}</string>
                <key>offset</key>
                <string>{-52,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{118,212}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionHurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,202},{141,202}}</string>
                <key>offset</key>
                <string>{58,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,10},{141,202}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>lionHurt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1041},{118,212}}</string>
                <key>offset</key>
                <string>{-52,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{118,212}}</string>
                <key>sourceSize</key>
                <string>{310,224}</string>
            </dict>
            <key>lionMan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{218,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,408}}</string>
                <key>sourceSize</key>
                <string>{218,408}</string>
            </dict>
            <key>lionWalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1534},{101,190}}</string>
                <key>offset</key>
                <string>{48,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,23},{101,190}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>lionWalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,801},{91,198}}</string>
                <key>offset</key>
                <string>{29,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,16},{91,198}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>lionWalk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1208},{89,206}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,7},{89,206}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>lionWalk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,1472},{91,200}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,13},{91,200}}</string>
                <key>sourceSize</key>
                <string>{259,214}</string>
            </dict>
            <key>monsterA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,401},{207,193}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{207,193}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,202},{209,197}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{209,197}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,600},{197,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{197,199}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1507},{215,197}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{215,197}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,624},{203,195}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{203,195}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,401},{207,193}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{207,193}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,829},{201,199}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{201,199}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1032},{191,193}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{191,193}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1234},{187,193}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{187,193}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA5.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1038},{169,189}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{169,189}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,1227},{191,189}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{191,189}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,998},{183,191}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,7},{183,191}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,801},{193,195}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,195}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterA9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1037},{189,195}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{189,195}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterDie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,184},{165,179}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,179}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>monsterDie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1191},{147,173}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{147,173}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>monsterDie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1429},{157,163}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{157,163}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>monsterDie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,1001},{125,185}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{125,185}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>monsterDie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,1420},{157,155}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{157,155}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>monsterDie6.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1038},{169,87}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,98},{169,87}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>monsterHurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,401},{207,193}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{207,193}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterHurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,184},{165,179}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,179}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>monsterHurt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,401},{207,193}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{207,193}}</string>
                <key>sourceSize</key>
                <string>{227,199}</string>
            </dict>
            <key>monsterWalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1594},{126,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,179}}</string>
                <key>sourceSize</key>
                <string>{128,179}</string>
            </dict>
            <key>monsterWalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,446},{124,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,176}}</string>
                <key>sourceSize</key>
                <string>{128,176}</string>
            </dict>
            <key>monsterWalk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1565},{124,179}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,179}}</string>
                <key>sourceSize</key>
                <string>{128,179}</string>
            </dict>
            <key>monsterWalk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1502},{121,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,175}}</string>
                <key>sourceSize</key>
                <string>{121,175}</string>
            </dict>
            <key>monsterWalk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,1321},{126,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,179}}</string>
                <key>sourceSize</key>
                <string>{126,179}</string>
            </dict>
            <key>stoneA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1209},{230,264}}</string>
                <key>offset</key>
                <string>{-13,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,144},{230,264}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneA10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{284,396}}</string>
                <key>offset</key>
                <string>{-37,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{284,396}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneA11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{296,358}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,50},{296,358}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneA12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,400},{284,300}}</string>
                <key>offset</key>
                <string>{-36,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,107},{284,300}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneA2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1041},{232,264}}</string>
                <key>offset</key>
                <string>{-12,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,144},{232,264}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneA3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,775},{246,264}}</string>
                <key>offset</key>
                <string>{-19,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,143},{246,264}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneA4.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,567},{204,314}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,94},{204,314}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneA5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{198,366}}</string>
                <key>offset</key>
                <string>{27,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,41},{198,366}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneA6.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{250,406}}</string>
                <key>offset</key>
                <string>{66,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,2},{250,406}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneA7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{278,398}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,10},{278,398}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneA8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{286,408}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{286,408}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneA9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,398}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{320,398}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneDie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,973},{237,281}}</string>
                <key>offset</key>
                <string>{45,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,34},{237,281}}</string>
                <key>sourceSize</key>
                <string>{383,351}</string>
            </dict>
            <key>stoneDie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,254},{311,315}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{311,315}}</string>
                <key>sourceSize</key>
                <string>{383,351}</string>
            </dict>
            <key>stoneDie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,222},{297,289}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,16},{297,289}}</string>
                <key>sourceSize</key>
                <string>{383,351}</string>
            </dict>
            <key>stoneDie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,702},{309,269}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,35},{309,269}}</string>
                <key>sourceSize</key>
                <string>{383,351}</string>
            </dict>
            <key>stoneDie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1275},{257,259}}</string>
                <key>offset</key>
                <string>{29,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,63},{257,259}}</string>
                <key>sourceSize</key>
                <string>{383,351}</string>
            </dict>
            <key>stoneDie6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1212},{277,287}}</string>
                <key>offset</key>
                <string>{52,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,37},{277,287}}</string>
                <key>sourceSize</key>
                <string>{383,351}</string>
            </dict>
            <key>stoneDie7.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,773},{273,263}}</string>
                <key>offset</key>
                <string>{26,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{273,263}}</string>
                <key>sourceSize</key>
                <string>{383,351}</string>
            </dict>
            <key>stoneDie8.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,254},{313,173}}</string>
                <key>offset</key>
                <string>{-35,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,178},{313,173}}</string>
                <key>sourceSize</key>
                <string>{383,351}</string>
            </dict>
            <key>stoneHurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,513},{258,264}}</string>
                <key>offset</key>
                <string>{10,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,143},{258,264}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneHurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,973},{237,281}}</string>
                <key>offset</key>
                <string>{45,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,34},{237,281}}</string>
                <key>sourceSize</key>
                <string>{383,351}</string>
            </dict>
            <key>stoneHurt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,513},{258,264}}</string>
                <key>offset</key>
                <string>{10,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,143},{258,264}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneMan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,513},{258,264}}</string>
                <key>offset</key>
                <string>{10,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,143},{258,264}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneWalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,513},{258,264}}</string>
                <key>offset</key>
                <string>{10,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,143},{258,264}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneWalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1501},{202,264}}</string>
                <key>offset</key>
                <string>{3,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,144},{202,264}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
            <key>stoneWalk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,773},{258,262}}</string>
                <key>offset</key>
                <string>{8,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,146},{258,262}}</string>
                <key>sourceSize</key>
                <string>{386,408}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{2048,1726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d37a02952e179eb307628de1f602592:8b880eb8d09653ce640f7b526632c5d7:a6ae2b9304b7a9e734cf6a25f3604866$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
