<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>againNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,658},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>againSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,744},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>backNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,400},{99,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,84}}</string>
                <key>sourceSize</key>
                <string>{99,84}</string>
            </dict>
            <key>backSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,486},{99,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,84}}</string>
                <key>sourceSize</key>
                <string>{99,84}</string>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,400},{89,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,84}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,658},{83,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>musicSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,743},{83,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>nextDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,486},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>nextNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,572},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>nextSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,572},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>pauseBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,475}}</string>
                <key>sourceSize</key>
                <string>{1280,475}</string>
            </dict>
            <key>pauseBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{1280,360}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{1280,360}}</string>
                <key>sourceSize</key>
                <string>{1280,364}</string>
            </dict>
            <key>playNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{197,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,193}}</string>
                <key>sourceSize</key>
                <string>{197,193}</string>
            </dict>
            <key>playSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,201},{197,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,193}}</string>
                <key>sourceSize</key>
                <string>{197,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pauseLayer.png</string>
            <key>size</key>
            <string>{1479,841}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b6527e614d9ee1c6153cbbd8b522dc1:d7c121f4cfbd549a0a51f609804d401d:4ad925cd3f1d504c6fc31f58b5e6152c$</string>
            <key>textureFileName</key>
            <string>pauseLayer.png</string>
        </dict>
    </dict>
</plist>
