<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGPicSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{981,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{981,607}}</string>
                <key>sourceSize</key>
                <string>{981,607}</string>
            </dict>
            <key>Hook.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,724},{78,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>RestoreSettings.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,724},{235,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,86}}</string>
                <key>sourceSize</key>
                <string>{235,86}</string>
            </dict>
            <key>SaveSettings.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,724},{235,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,86}}</string>
                <key>sourceSize</key>
                <string>{235,86}</string>
            </dict>
            <key>ThumbBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,873},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>bgBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,931},{484,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,44}}</string>
                <key>sourceSize</key>
                <string>{484,44}</string>
            </dict>
            <key>closeSetNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,804},{67,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>closeSetSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,724},{67,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>image-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>progressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,873},{484,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,44}}</string>
                <key>sourceSize</key>
                <string>{484,44}</string>
            </dict>
            <key>unchecked.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,931},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setLayer.png</string>
            <key>size</key>
            <string>{1893,985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1b15910f66c6c3ecd3527f244287d60:4ae84eac7fc9a9c622325a1a3cfdbd6c:40d0e5e00b9714f726981ed77345ee86$</string>
            <key>textureFileName</key>
            <string>setLayer.png</string>
        </dict>
    </dict>
</plist>
