<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChallengeNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{519,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,127}}</string>
                <key>sourceSize</key>
                <string>{519,127}</string>
            </dict>
            <key>ChallengeSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1284},{519,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,126}}</string>
                <key>sourceSize</key>
                <string>{519,126}</string>
            </dict>
            <key>CheatsNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1805},{92,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>CheatsSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1857},{92,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>EmigratedNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1699},{519,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,126}}</string>
                <key>sourceSize</key>
                <string>{519,128}</string>
            </dict>
            <key>EmigratedSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1827},{519,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,126}}</string>
                <key>sourceSize</key>
                <string>{519,126}</string>
            </dict>
            <key>HelpNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1955},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>HelpSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1955},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>MainMenuBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>PhotoGalleryNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1570},{93,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,95}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>PhotoGallerySelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1667},{93,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,95}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>SetNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1764},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>SetSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1955},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{615,284}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,284}}</string>
                <key>sourceSize</key>
                <string>{617,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startGame.png</string>
            <key>size</key>
            <string>{747,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87327c3257aa6618cf04149cb6433702:30d3e55a7bd88a932e8091c09b3c99e2:391b4588f7ce3558cd738337fee467e0$</string>
            <key>textureFileName</key>
            <string>startGame.png</string>
        </dict>
    </dict>
</plist>
